/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, div, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, div {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #1f6490;
  font-size: 20px;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  line-height: 30px;
  -webkit-text-size-adjust: 100%;
}

a {color: #def7da;}

.arch {
  position: fixed;
  top: 0%;
  left: 20%;
  right: 20%;
  -webkit-border-bottom-left-radius: 50%;
  -webkit-border-bottom-right-radius: 50%;
  -moz-border-radius-bottomleft: 50%;
  -moz-border-radius-bottomright: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  height: 0;
  padding: 0 0 60% 0;
  background-color: #3d7faa;
}

.column {
  position: relative;
  margin: auto;
  padding: 1.5% 20%;
  overflow:auto;
  overflow-x: hidden;
}

.quote {
  position:relative;
  margin: 20% 0;
}
  .quote h2 {
    color: #fff;
    font: 400 24px/1.4 "cardo";
    font-style: italic;
    margin: 0 0 20px 0;
    text-align: left;
    text-indent: 0px;
    z-index: 100;
  }
  .quote h3 {
    color: #fff;
    font: 400 16px/1.4 "cardo";
    margin: 0 0 20px 0;
    text-align: left;
    text-indent: 0px;
    z-index: 100;

  }
    .column h3 em {
      font-style: italic; }
  .quote .open_quote,
  .column .close_quote {
    color: #fff;
    font: 200 100px/1.4 "cardo";
    display:block;
    position:absolute;
    padding: 5%;
    z-index: 0;}
  .column .open_quote {
    top: 0;
    left: -20%;}
  .column .close_quote {
    top: 0;
    right: -20%;}
  .column h2 .open_quote,
  .column h2 .close_quote {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    }
  .column h2 .open_quote{
    transform:translate(-15px, 0px);
    -webkit-transform: translate(-15px, 0px);
    -o-transform: translate(-15px, 0px);
    -moz-transform: translate(-15px, 0px);
    }
  .column h2 .close_quote{
    transform:translate(15px, 0px);
    -webkit-transform: translate(15px, 0px);
    -o-transform: translate(15px, 0px);
    -moz-transform: translate(15px, 0px);
    }
  .column h2:hover .open_quote{
    transform:translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    opacity: 1;
  }
  .column h2:hover .close_quote{
    transform:translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    opacity: 1;
  }

h1 {
  font: 700 160px/1.4 "cardo";
  width: 90%;
  height: 10px;
  padding: 20% 0 70%;
  margin: 0 5%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-transform: lowercase;
  text-align: center;
  color: #fff;
  background-color: rgba(31, 100, 144, 0.5);
  overflow: hidden;
}


.contact {
  margin: -40% 0 0 ;
  text-align:center;
  padding:10%;
}
  .contact a {
    font-size: 34px;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 24px;
  }


@media (max-width: 715px) {
  h1 {font: 700 130px/1.4 "cardo";}
  .contact a {font-size: 30px;}
}

@media (max-width: 580px) {
  h1 {font: 700 100px/1.4 "cardo";}
  .contact a {font-size: 26px;}
}

@media (max-width: 450px) {
  h1 {font: 700 70px/1.4 "cardo";}
  .contact a {font-size: 22px;}
}

.pyramid {
  color: #fff;
  width: 90%;
  padding: 5% 5%;
  margin: 30% 0;
  font-size: 20px;
  line-height: 35px;
  background-color: rgba(31, 100, 144, 0.5);
}

.wedo {
  color: #0b2231;
  width: 90%;
  height: 0;
  padding: 10% 5% 90%;
  margin: 0% 0;
  font-size: 20px;
  background-color: rgba(245, 251, 255, 0.7);
}
  .wedo h2 {
    color: #0b2231;
    font: 700 60px/1.4 "cardo";
    font-style: normal;
    margin: 0 0 20px 0;
    text-align: center;
    text-indent: 0px;
    z-index: 100;
  }

  .wedo h2 .wemake {
    display:block;
    font: 400 20px/1.4 "cardo";
    font-style: italic;
    text-transform: lowercase;
  }

  .pyramid ul {

  }
  .pyramid li {
    padding: 10% 0 0 0;
    border-bottom: 1px dotted #fff;
  }