/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, div, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, div {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #1f6490;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  -webkit-text-size-adjust: 100%; }

.contact {
  text-align:center;
  padding:10%;
}
  .contact a {
    color:#fff;
    font-family: "open sans"!;
    font-size: 18px;
    font-weight: 200;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 24px;
  }
  .contact a:hover {
    text-decoration: underline;
  }

.back {
  position: fixed;
  bottom: 0%;
  left: 10%;
  right: 10%;
  -webkit-border-top-left-radius: 50%;
  -webkit-border-top-right-radius: 50%;
  -moz-border-radius-topleft: 50%;
  -moz-border-radius-topright: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  height: 0;
  padding: 0 0 80% 0;
  background-color: #236894;
}

.quote {
  position: relative;
  margin: auto;
  padding: 14.6%;
  overflow:auto;
  overflow-x: hidden;
}
  .quote h2 {
    color: #E9E9EB;
    font: 400 36px/1.4 "cardo";
    font-style: italic;
    margin: 0 0 20px 0;
    text-align: left;
    text-indent: 0px;
    z-index: 100;
  }
  .quote h3 {
    color: #fff;
    font: 400 24px/1.4 "cardo";
    margin: 0 0 20px 0;
    text-align: left;
    text-indent: 0px;
    z-index: 100;

  }
    .quote h3 em {
      font-style: italic; }
  .quote .open_quote,
  .quote .close_quote {
    color: #fff;
    font: 300 100px/1.4 "cardo";
    display:block;
    position:fixed;
    padding: 5%;
    z-index: 0;}
  .quote .open_quote {
    top: 30%;
    left: 0px;}
  .quote .close_quote {
    top: 30%;
    right: 0px;}
  .quote h2 .open_quote,
  .quote h2 .close_quote {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    }
  .quote h2 .open_quote{
    transform:translate(-15px, 0px);
    -webkit-transform: translate(-15px, 0px);
    -o-transform: translate(-15px, 0px);
    -moz-transform: translate(-15px, 0px);
    }
  .quote h2 .close_quote{
    transform:translate(15px, 0px);
    -webkit-transform: translate(15px, 0px);
    -o-transform: translate(15px, 0px);
    -moz-transform: translate(15px, 0px);
    }
  .quote h2:hover .open_quote{
    transform:translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    opacity: 1;}
  .quote h2:hover .close_quote{
    transform:translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    opacity: 1;}

